    body {
        font-family: Arial, Helvetica, sans-serif!important;
        background-color: #000000;
    }
    
    .nav {
        display: flex;
        justify-content: space-around;
    }
    
    #search {
        width: 1000px!important;
        height: 35px!important;
    }
    
    .btn_group {
        display: flex;
        justify-content: space-between;
    }
    
    .btn_nav {
        color: white;
        background-color: #8C181B;
        height: 50px;
        width: 100px;
        border-radius: 10px;
    }
    
    .container {
        background-image: url("pics/keyboard.jpg");
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }
    
    .bottomleft {
        position: absolute;
        left: 20%;
        right: 0;
        top: 43%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        color: white;
    }
    
    .content {
        color: white;
        background-color: #1A1818;
        height: 400px;
        text-align: center;
    }
    
    .content .header h1 {
        text-shadow: 2px 2px white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
    }
    
    .cards {
        display: inline-flex;
        flex-wrap: wrap;
    }
    
    .card1,
    .card2,
    .card3 {
        display: block;
        width: 400px!important;
        background-color: #235A8D;
        border-radius: 10px;
        font-size: 30px;
        margin-left: 40px!important;
    }
    
    .list {
        text-align: center;
    }
    
    h3 {
        margin: 2px;
    }
    
    ol {
        list-style-type: none;
        margin: 2px;
    }
    
    ol li button {
        padding: 8px;
        margin-bottom: 5px;
        font-size: 15px;
    }
    
    footer {
        width: 100%;
        color: white;
        text-align: center
    }